*{
    margin: 0;
    padding: 0;
}

   /*starts code  nav bar*/

   a {
    text-decoration: none;
    color: black;
    font-family: 'Orbitron' ;
    font-weight: bold ;
}

a:hover {
    /*code for change color selector on pointer*/
    background-color: rgb(211, 209, 209);
}

ul {
    display: flex;
    justify-content: space-evenly;
    background-color: none;
    background: linear-gradient(180deg, rgb(239, 241, 241) 0%, rgb(165, 164, 165) 42%, rgb(41, 40, 40) 100%);
    padding: 15px 0px;
    list-style: none;
    /*estilo para quitar los puntos de descrip de bar*/
}



body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 3%, rgba(148,187,233,1) 100%);
    font-family: 'Island Moments', cursive;
}

h1{
    font-size: 60px;
    text-align: center;
    text-shadow: 5px 2px 2px rgb(33, 250, 26);
}

#cont1{
    border:solid #6CB4EE;
    background: rgb(47,143,242);
    background: linear-gradient(310deg, rgba(47,143,242,1) 2%, rgba(148,187,233,1) 54%);
    border-radius: 10px;
    width: 30%;
    height: 80%;    
  
}
#img1{
    border-color: slateblue;
    width: 50vvw;
    height: 50hw;
    
}

#cont2{
    border: solid 5px rgb(73, 84, 245);
    background-color:   skyblue;
    border-radius: 10px;
    width: 90%;
    height: 30%; 
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cont3{
    border: solid 5px rgb(73, 84, 245);
    background-color:   skyblue;
    border-radius: 10px;
    width: 90%;
    height: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#div4{
width: 70%;
height: 200px;
}